:root {
    --font-color: #533738;
    --background-color-brown: #8d7370;
    --background-color-peach: #e2c4ba;
    --montserrat: 'Montserrat', sans-serif;
}

body {
    background: #e5e5e5;
    font-family: var(--montserrat);
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
    color: var(--font-color);
    line-height: 2rem;
}

section {
    padding: 1rem 4rem;
}

section.main {
    background: url("files/main-banner.jpg") top center no-repeat;
    background-size: cover;
    height: 100vh;
}

.main .wrapper {
    position: absolute;
    top: calc(50% - 250px);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 2rem;
    z-index: 10;
}

.logo {
    float: left;
}

.logo img {
    position: relative;
    top: 5px;
}

nav {
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
}

nav a {
    margin: 0 0.5rem;
}

.wrapper {
    width: 50%;
    padding: 2em 3em;
}

.portfolio img {
    width: 100%;
}

/*-------------------------- Interface elements --------------------------*/

a {
    color: var(--font-color);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: none;
}

.button {
    display: block;
    width: fit-content;
    margin: 0;
    border: 0;
    padding: 25px 65px;
    background-color: #cc8b86;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--font-color);
    font-family: var(--montserrat);
}

button:focus {
    outline: none;
}

input {
    width: 100%;
    margin: 1rem 0;
    padding: 0.6rem 0;
    border: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
}

input::-webkit-input-placeholder {
    color: #f6ede9;
    font-family: var(--montserrat);
}

input:focus {
    outline: none;
}

h1 {
    font-size: 3.1em;
    font-weight: 400;
    line-height: 4rem;
}

h2 {
    font-size: 2.5em;
    text-align: center;
    font-weight: 400;
    line-height: 3rem;
    text-transform: uppercase;
}

h3 {
    font-size: 1.8em;
    font-weight: 400;
    line-height: 3rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 4rem 0;
    justify-content: space-between;
}

li {
    font-size: 3.1rem;
    line-height: 3.8rem;
    text-align: center;
    text-transform: uppercase;
}

li span {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2rem;
}

/*-------------------------- CSS classes --------------------------*/
.text-align-left {
    text-align: left;
}

.bg-brown {
    background-color: var(--background-color-brown);
    color: #fff;
}

.bg-peach {
    background-color: var(--background-color-peach);
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.flex {
    display: flex;
}

.hidden {
    visibility: hidden;
}