:root {
    --font-color: #533738;
    --background-color-brown: #8d7370;
    --background-color-peach: #e2c4ba;
    --background-color-pink: #cc8b86;
    --montserrat: 'Montserrat', sans-serif;
}

body {
    background: #e5e5e5;
    font-family: var(--montserrat);
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
    color: var(--font-color);
    line-height: 2rem;
}

section {
    padding: 1rem 4rem;
}

section.main {
    background: url("/HTML-academy-marathon/files/main-banner.jpg") top center no-repeat;
    background-size: cover;
    height: 100vh;
}

.main .wrapper {
    position: absolute;
    top: calc(50% - 250px);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 2rem;
    z-index: 10;
}

.logo {
    float: left;
}

.logo img {
    position: relative;
    top: 5px;
}

nav {
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
}

nav a {
    margin: 0 0.5rem;
}

.wrapper {
    width: calc(50% - 3 * 2em);
    padding: 2em 3em;
}

.achieves ul {
    justify-content: space-around;
}

.achieves li {
    font-size: 3.1rem;
    line-height: 3.8rem;
    text-transform: uppercase;
}

.achieves li span {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2rem;
}

.portfolio-item {
    display: flex;
    position: relative;
    width: fit-content;
    height: 60vh;
    margin: 15px 10px;
}

.portfolio-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-item img {
    object-fit: cover;
}

.portfolio-item .description {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2rem;
    visibility: hidden;
    background: rgba(100, 72, 69, 0.8);
    color: #fff;
    font-size: 1.1rem;
}

.portfolio-item:hover .description {
    visibility: visible;
}

.portfolio-item h3 {
    text-align: center;
}

.arrow {
    margin: 3rem 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

.arrow a {
    cursor: pointer;
}

.teem-wrapper {
    display: flex;
    justify-content: center;
}

figure {
    width: 30%;
}

figure img {
    width: 100%;
}

.workflow ul {
    justify-content: space-between;
}

.workflow li {
    position: relative;
    width: 20%;
    margin-top: 60px;
}

.workflow li::before {
    content: '1';
    position: absolute;
    top: -60px;
    right: calc(50% - 50px / 2);
    width: 30px;
    height: 30px;
    background: var(--background-color-brown);
    border-radius: 50%;
    color: white;
    padding: 10px;
}

.workflow li:nth-child(1)::before {
    content: "1";
}

.workflow li:nth-child(2)::before {
    content: "2";
}

.workflow li:nth-child(3)::before {
    content: "3";
}

.workflow li:nth-child(4)::before {
    content: "4";
}

.application {
    display: flex;
}

.application h2 {
    text-align: left;
}

.application img {
    width: 50%;
    margin: -1rem 0;
}

footer {
    padding: 2rem 4rem;
}

footer span {
    margin: 0 3rem;
}

footer span:last-child {
    float: right;
}

/*-------------------------- Interface elements --------------------------*/

a {
    color: var(--font-color);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: none;
}

p {
    margin-block-end: 1.5rem;
}

.button {
    display: block;
    width: fit-content;
    margin: 0;
    border: 0;
    padding: 25px 65px;
    background-color: var(--background-color-pink);
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--font-color);
    font-family: var(--montserrat);
}

button:focus {
    outline: none;
}

input {
    width: 100%;
    margin: 1rem 0;
    padding: 0.6rem 0;
    border: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
}

input::-webkit-input-placeholder {
    color: #f6ede9;
    font-family: var(--montserrat);
}

input:focus {
    outline: none;
}

h1 {
    font-size: 3.1em;
    font-weight: 400;
    line-height: 4rem;
}

h2 {
    font-size: 2.5em;
    text-align: center;
    font-weight: 400;
    line-height: 3rem;
    text-transform: uppercase;
}

h3 {
    font-size: 1.8em;
    font-weight: 400;
    line-height: 3rem;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 4rem 0;
    justify-content: space-between;
}

li {
    text-align: center;
}


cite {
    text-transform: uppercase;
    font-style: normal;
}

/*-------------------------- CSS classes --------------------------*/
.text-align-left {
    text-align: left;
}

.bg-brown {
    background-color: var(--background-color-brown);
    color: #fff;
}

.bg-peach {
    background-color: var(--background-color-peach);
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.flex {
    display: flex;
    justify-content: center;
}

.hidden {
    visibility: hidden;
}

/*-------------------------- Slick styles --------------------------*/

.slick-prev, .slick-next {
    background-color: var(--background-color-pink);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.slick-prev::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-10 0 53 16'%3e%3cpath fill='white' d='M0.292892 8.70711C-0.0976295 8.31658 -0.0976295 7.68342 0.292892 7.29289L6.65685 0.928932C7.04738 0.538408 7.68054 0.538408 8.07107 0.928932C8.46159 1.31946 8.46159 1.95262 8.07107 2.34315L2.41421 8L8.07107 13.6569C8.46159 14.0474 8.46159 14.6805 8.07107 15.0711C7.68054 15.4616 7.04738 15.4616 6.65685 15.0711L0.292892 8.70711ZM33 9H1V7H33V9Z'/%3e%3c/svg%3e")
}

.slick-next::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-10 0 53 16'%3e%3cpath fill='white' d='M32.7071 8.70711C33.0976 8.31658 33.0976 7.68342 32.7071 7.29289L26.3431 0.928932C25.9526 0.538408 25.3195 0.538408 24.9289 0.928932C24.5384 1.31946 24.5384 1.95262 24.9289 2.34315L30.5858 8L24.9289 13.6569C24.5384 14.0474 24.5384 14.6805 24.9289 15.0711C25.3195 15.4616 25.9526 15.4616 26.3431 15.0711L32.7071 8.70711ZM0 9H32V7H0V9Z'/%3e%3c/svg%3e")
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    background-color: var(--background-color-pink);
}